@{
    ViewBag.Title = "Upload file(s)";
}
<br/>
<div ng-controller="processImageCtrl" ng-cloak>
    <div class="row" id="uploadContainer">
        <a id="dropArea" class="text-center" style="position: relative; z-index: 1;">
            <h3 class="text-center">Click Or Drag Files Here To Upload...</h3>
        </a>
    </div>
    <ul>
        <li ng-repeat="message in messages">
            {{ message }}
        </li>
    </ul>
</div>

